 .mainContainer{
   background-image: url("https://images.homedepot-static.com/productImages/f274765b-06e4-4d70-974c-1ea2f5d7dcdb/svn/brewster-wallpaper-3097-02-64_1000.jpg");

 }
 body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.eventBlock p{
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(238, 238, 238);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  margin: 0;

}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin-bottom: 6px;
}

.hour {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveButton {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
